<% content_for :title, "Royal Cirque Publishing Checkout" %>
<div id="checkout-content-banner">
	<div id="checkout-content">
		<div id="product-detail">
			<%= form_for :customer, :url => { :controller => "cart", :action => "review_order" } do |f| %>
			<div class="row">
				<div class="col-md-12">
					<div class="large-font" style="margin: 10px;">Checkout</div>
				</div>
			</div>
			<div class="row" style="padding: 10px;">
				<div class="col-md-6">
					<h2>Customer Information</h2>
					<div class="form-group">
						<%= f.label :first_name %><br/>
						<%= f.text_field :first_name, :class => 'form-control'%>
					</div>
					<div class="form-group">
						<%= f.label :last_name %><br/>
						<%= f.text_field :last_name, :class => 'form-control'%>
					</div>
					<div class="form-group">
						<%= f.label :email %><br/>
						<%= f.text_field :email, :class => 'form-control'%>
					</div>
					<div class="form-group">
						<div class="checkbox" style="">
							<label>
								<%= f.check_box :agree_to_receive_info %>
								Receive Emails about Royal Cirque Products?
							</label>
						</div>
					</div>

					<h2>Shipping Information</h2>
					<div class="form-group">
						<%= f.label "Ship to name" %><br/>
						<%= f.text_field :ship_name, :class => 'form-control'%>
					</div>
					<div class="form-group">
						<%= f.label "Street 1" %><br/>
						<%= f.text_field :ship_street_1, :class => 'form-control'%>
					</div>
					<div class="form-group">
						<%= f.label "Street 2" %><br/>
						<%= f.text_field :ship_street_2, :class => 'form-control'%>
					</div>
					<div class="form-group">
						<%= f.label "City" %><br/>
						<%= f.text_field :ship_city, :class => 'form-control'%>
					</div>
					<div class="form-group">
						<%= f.label "State" %><br/>
						<%= f.text_field :ship_state, :class => 'form-control'%>
					</div>
					<div class="form-group">
						<%= f.label "Zip" %><br/>
						<%= f.text_field :ship_zip, :class => 'form-control'%>
					</div>
				</div>
				<div class="col-md-6">
					<% if @total > 0 %>
						<h2>Billing Information</h2>
						<p><input type="checkbox" id="copy-shipping-info" />
						Click here if your Billing info is the same as your Shipping info</p>
						<script type="text/javascript"><!--
						$(document).ready(function(){
							$('#copy-shipping-info').click(function(){
								if($('#copy-shipping-info:checked')) {
									$('#customer_bill_name').val($('#customer_ship_name').val());
									$('#customer_bill_street_1').val($('#customer_ship_street_1').val());
									$('#customer_bill_street_2').val($('#customer_ship_street_2').val());
									$('#customer_bill_city').val($('#customer_ship_city').val());
									$('#customer_bill_state').val($('#customer_ship_state').val());
									$('#customer_bill_zip').val($('#customer_ship_zip').val());
								}
							})
						});
						// -->
						</script>

						<div class="form-group">
							<%= f.label "Name on card" %><br/>
							<%= f.text_field :bill_name, :class => 'form-control'%>
						</div>
						<div class="form-group">
							<%= f.label "Street 1" %><br/>
							<%= f.text_field :bill_street_1, :class => 'form-control'%>
						</div>
						<div class="form-group">
							<%= f.label "Street 2" %><br/>
							<%= f.text_field :bill_street_2, :class => 'form-control'%>
						</div>
						<div class="form-group">
							<%= f.label "City" %><br/>
							<%= f.text_field :bill_city, :class => 'form-control'%>
						</div>
						<div class="form-group">
							<%= f.label "State" %><br/>
							<%= f.text_field :bill_state, :class => 'form-control'%>
						</div>
						<div class="form-group">
							<%= f.label "Zip" %><br/>
							<%= f.text_field :bill_zip, :class => 'form-control'%>
						</div>

						<h2>Credit Card Information</h2>
						<div class="form-group">
							<%= f.label "Card number" %><br/>
							<%= f.text_field :card_number, :class => 'form-control'%>
						</div>
						<div class="form-group">
							<%= f.label "Card Expiration Date (MM/YY)" %><br/>
							<%= f.text_field :card_expire_date, :class => 'form-control'%>
						</div>
						<div class="form-group">
							<%= f.label "Card CVV2 Number" %><br/>
							<%= f.text_field :card_cvv2, :class => 'form-control'%>
						</div>

					<% else %>
						<p>Your Order Total was $0.00 so you do not need to input any billing information</p>
					<% end %>
				</div>
			</div>

			<div class="row" style="margin: 10px;">
				<div class="col-md-12 text-center">
					<%= f.submit "Review Order", :class => "btn btn-default input-sm" %>
					<br/><br/>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
