<% content_for :title, "Royal Cirque Publishing Shopping Cart" %>
<div id="detail-content-banner" style="height:470px;">
	<div id="detail-content" style="height:470px;">
		<div id="product-detail" style="height:470px;">
			<% form_for :cart, :url => { :controller => "cart", :action => "checkout" } do |f| %>
			<table id="cart-table" class="content-table" border="0" cellspacing="0" cellpadding="0" width="98%">
				<tr>
					<td class="large-font" colspan="4" align="center">
						<div class="gotham-light-forced-extra-long-line">Shopping Cart</div>
					</td>
				</tr>
				<%- if @cart_items.nil? -%>
				<tr>
					<td valign="top" colspan="4" align="center">
						<div class="gotham-light-forced-long-line medium-font">You have no products in your cart.</div>
					</td>
				</tr>
				<%- else -%>
				<tr>
					<td valign="top" width="400px" colspan="2" style="border-bottom: 1px solid #6E6E6C;">
						<div class="gotham-light-forced-long-line medium-bold-font">Product:</div>
					</td>
					<td valign="top" width="150px" style="border-bottom: 1px solid #6E6E6C;">
						<div class="gotham-light-forced-long-line medium-bold-font">Price:</div>
					</td>
					<td valign="top" width="150px" style="border-bottom: 1px solid #6E6E6C;">
						<div class="gotham-light-forced-long-line medium-bold-font">Qty:</div>
					</td>
				</tr>
				<%- @cart_items.each do |item| -%>
				<tr>
					<td valign="top" style="border-top: 1px solid #6E6E6C; border-bottom: 1px solid #6E6E6C;">
						<%= image_tag("/products/get_thumb_image/" + item.product.id.to_s, :border =>0, :style => ' border: 1px solid #6E6E6C;') %>
					</td>
					<td valign="top" style="border-top: 1px solid #6E6E6C; border-bottom: 1px solid #6E6E6C;">
						<div class="large-font" width="400px"><%= item.product.title %></div>
						<div class="medium-font" width="400px">by <%= item.product.author.first_name %> <%= item.product.author.last_name %></div>
					</td>
					<td valign="top" style="border-top: 1px solid #6E6E6C; border-bottom: 1px solid #6E6E6C;">
						<div class="medium-font" width="150px"><%= number_to_currency item.product.price %></div>
					</td>
					<td valign="top" style="border-top: 1px solid #6E6E6C; border-bottom: 1px solid #6E6E6C;">
						<div><%= f.text_field ("prod_#{item.product.id}", :style => 'width: 20px;', :value => item.quantity)%></div>
					</td>
				</tr>
				<%- end -%>
				<tr>
					<td colspan="4" align="center" style="border-top: 1px solid #6E6E6C;">
						<div><%= f.submit "Checkout" %></div>
					</td>
				</tr>
				<%- end -%>
			</table>
			<% end %>
		</div>
	</div>
</div>