<% content_for :title, "Royal Cirque Publishing Shopping Cart" %>
<div id="detail-content-banner">
	<div id="detail-content">
		<div id="product-detail">
			<div class="row">
				<div class="col-md-12">
					<div class="large-font" style="margin: 10px;">Shopping Cart</div>
				</div>
			</div>
			<%= form_for :cart, :url => { :controller => "cart", :action => "checkout" } do |f| %>
				<% if @cart_items.nil? %>
					<div class="row" style="padding-top: 10px; padding-bottom: 10px;">
						<div class="col-md-12">
							<div class="medium-font">You have no products in your cart.</div>
						</div>
					</div>
				<% else %>
					<div class="row" style="border-bottom: 1px solid #6E6E6C; padding-top: 10px; padding-bottom: 10px;">
						<div class="col-md-8">
							<div class="medium-bold-font" style="margin-left: 10px;">Product:</div>
						</div>
						<div class="col-md-2">
							<div class="medium-bold-font" style="margin-left: 10px;">Price:</div>
						</div>
						<div class="col-md-2">
							<div class="medium-bold-font" style="margin-left: 10px;">Qty:</div>
						</div>
					</div>
					<% @cart_items.each do |item| %>
						<div class="row" style="border-bottom: 1px solid #6E6E6C; padding-top: 10px; padding-bottom: 10px;">
							<div class="col-md-3 text-center">
								<%= image_tag("/products/get_thumb_image/" + item.product.id.to_s, :border =>0, :style => ' border: 1px solid #6E6E6C;') %>
							</div>
							<div class="col-md-5" style="margin-left: 10px;">
								<div class="large-font"><%= item.product.title %></div>
								<div class="medium-font">by <%= item.product.author.first_name %> <%= item.product.author.last_name %></div>
							</div>
							<div class="col-md-2" style="margin-left: 10px;">
								<div class="medium-font"><%= number_to_currency item.product.price %></div>
							</div>
							<div class="col-md-1" style="margin-left: 10px;">
								<div><%= f.text_field "prod_#{item.product.id}", {:style => 'width: 20px;', :value => item.quantity}%></div>
							</div>
						</div>
					<% end %>
					<div class="row" style="padding-top: 10px; padding-bottom: 10px;">
						<div class="col-md-12 text-center">
							<div>Enter Coupon Code (If Any): <%= f.text_field :coupon, {:style => 'width: 100px;', :class => ""}%></div> <div><%= f.submit "Checkout" %></div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
