<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
          <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
          <title><%=h yield(:title) %></title>
          <%= stylesheet_link_tag "royalcirque", :media => "screen" %>
		  <!--[if gte IE 6]>		<%= stylesheet_link_tag 'royalcirque-ie' %>	<![endif]-->
          <%= javascript_include_tag "jquery-1.3.2.min",
									 "jquery.sifr",
									 "jquery.swfobject",
                                     "application" %>
	      <script type="text/javascript"><!--  
				$(document).ready(function(){  
				     $.sifr({ build: 436, version: 3, path: "/fonts/", save: true });  
				     $(".contact-us").sifr({ font: "Gotham-Light", forceSingleLine: true, width: 105 });  
				     $(".contact-us-2").sifr({ font: "Gotham-Light", forceSingleLine: true, width: 30 });  
				     $(".about-us").sifr({ font: "Gotham-Light", forceSingleLine: true, width: 110 });  
				     $(".gotham-light-forced-line").sifr({ font: "Gotham-Light", forceSingleLine: true, width: 300 });  
				     $(".gotham-light-forced-long-line").sifr({ font: "Gotham-Light", forceSingleLine: true, width: 500 });  
				     $(".about-us-text").sifr({ font: "Gotham-Light", height: 100 });  
				     $(".gotham-light").sifr({ font: "Gotham-Light", height: 150 });  
				     $(".gotham-light-forced-line-50").sifr({ font: "Gotham-Light", forceSingleLine: true, width: 50 });  
				});  
				$(document).ready(function(){  
					$(function() {
						$(".hoverswap").hover(
							function () {
								$(this).attr("src", $(this).attr("src").replace(/.jpg/, "_on.jpg"));
							},
							function () {
								$(this).attr("src", $(this).attr("src").replace(/_on.jpg/, ".jpg"));
							}
						);
					});
				});  
				// -->
	      </script>
          <%= yield :head %>
	</head>  
  <body>
	<div id="banner-white-spacer">
	</div>
	<div id="banner-header">
		<%= link_to image_tag("layout/logo.jpg", :border =>0, :class => 'centered-image') , {:controller => "home" } %>
	</div>
	<div id="banner-grey-spacer">
	</div>
	<div id="header-nav-bar">
		<span>
			<%= link_to image_tag("layout/home.jpg", :border =>0, :class => "hoverswap") , {:controller => "home" } %>
			<%= link_to image_tag("layout/products.jpg", :border =>0, :class => "hoverswap") , {:controller => "products" } %>
			<%= link_to image_tag("layout/view_cart.jpg", :border =>0, :class => "hoverswap") , {:controller => "cart" } %>
			<%= link_to image_tag("layout/contact_us.jpg", :border =>0, :class => "hoverswap") , {:controller => "contact_us" } %>
		</span>
	</div>
	<% if flash[:notice] %>
	    <div id="header-flash"><%= flash[:notice] %></div>
	<% end %>
        <%= yield %>
	<div id="banner-footer">
		<div id="footer-content">
			<table id="about-table" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="50%" valign="top" style="border-right: 1px solid white;" height="150px">
						<table class="content-table">
							<tr border="0">
								<td align="right" valign="top" class="large-font">
									<div class="about-us">ABOUT</div>
									<div class="about-us">ROYAL</div>
									<div class="about-us">CIRQUE</div>
								</td>
								<td align="left" valign="top" class="normal-font">
									<div class="about-us-text">
										We are a media distributor and publisher based in Salt Lake City, UT. Royal Cirque Publishing produces high quality books and music ranging in a wide variety of topics. If you are an author, buyer, printer, or distributor please feel free to contact us.
									</div>
								</td>
							</tr>
						</table>
					</td>
					<td width="50%" valign="top" >
						<table class="content-table">
							<tr border="0">
								<td align="right" valign="top" class="medium-font">
									<div class="contact-us">CONTACT</div>
									<div class="contact-us-2">US</div>
								</td>
								<td align="left" valign="top" class="normal-font" style="padding-top: 0px !important;">
									<% form_for :contact, :url => { :controller => "home", :action => "send_mail" } do |f| %>
									 <table border="0" cellpadding="0" cellspacing="0">
									 	<tr>
									 		<td width="50%">
												<div class="gotham-light-forced-line-50">Name:</div>
												<%= f.text_field (:name)%>
											</td>
											<td width="50%">
												<div class="gotham-light-forced-line-50">Email:</div>
												<%= f.text_field (:email)%>
											</td>
									 	</tr>
										<tr>
											<td width="50%" colspan="2" style="padding:0px !important;">
											 	<table border="0" cellpadding="0" cellspacing="0">
													<tr>
												 		<td width="80%">
															<div class="gotham-light-forced-line-50">Message:</div>
															<%= f.text_area (:message, :rows => 1)%>
														</td>
														<td width="20%">
															<%= f.submit "Submit" %>
														</td>
													</tr>
												</table>
											</td>
									 	</tr>
									 </table>
									<% end %>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="footer-white-spacer">
	</div>
	<div id="footer-fill">
		<div id="copyright"><br/>&copy; 2010 ROYAL CIRQUE PUBLISHING. ALL RIGHTS RESERVED</div>
	</div>
  </body>
</html>
